<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EfficientiaApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Efficientiamobile">
        <activity
            android:name=".pages.PainelADMActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainADMActivity"
            android:exported="false" /> <!-- Tela Inicial / Splash -->
        <activity
            android:name=".splash.MainSplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Telas de Login -->
        <activity
            android:name=".auth.LoginGeralActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginMotoristaActivity"
            android:exported="false" />

        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".feedback.RouteFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".route.RouteDiaryStepOneActivity"
            android:exported="false"
            android:theme="@style/Theme.Efficientiamobile.RouteDiary"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".route.RouteDiaryStepTwoActivity"
            android:exported="false"
            android:theme="@style/Theme.Efficientiamobile.RouteDiary"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".route.RouteDiaryStepThreeActivity" android:exported="false" android:theme="@style/Theme.Efficientiamobile.RouteDiary" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".route.RouteDiaryStepFourActivity" android:exported="false" android:theme="@style/Theme.Efficientiamobile.RouteDiary" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".route.RouteDiaryArrivalConditionActivity" android:exported="false" android:theme="@style/Theme.Efficientiamobile.RouteDiary" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".route.RouteDiaryStepFiveActivity" android:exported="false" android:theme="@style/Theme.Efficientiamobile.RouteDiary" />
        <activity android:name=".route.RouteDiaryStepSixActivity" android:exported="false" android:theme="@style/Theme.Efficientiamobile.RouteDiary" />
        <activity android:name=".route.RouteDiaryLaunchActivity" android:exported="false" android:theme="@style/Theme.Efficientiamobile.RouteDiary" />
        <activity
            android:name=".main.FirstAccessActivity"
            android:exported="false" />
        <activity
            android:name=".splash.AuthenticatedSplashActivity"
            android:exported="false" />
        <activity
            android:name=".signature.SignatureOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".signature.SignatureCaptureActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Fluxo de Recuperação de Senha -->
        <activity
            android:name=".auth.SelecaoRecuperarActivity"
            android:exported="false" />
        <activity
            android:name=".auth.CodigoCampoActivity"
            android:exported="false" />

        <activity
            android:name=".auth.CodigoEmailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".auth.LoginADMActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
