<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Efficientiamobile">
        <activity
            android:name=".auth.LoginADMActivity"
            android:exported="false" />
        <!-- Tela Inicial / Splash -->
        <activity
            android:name=".splash.MainSplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Telas de Login -->
        <activity
            android:name=".auth.LoginGeralActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginMotoristaActivity"
            android:exported="false" /> <!-- Fluxo de Recuperação de Senha -->
        <activity
            android:name=".auth.SelecaoRecuperarActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RedefinirCampoActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>